@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Background */
    --background-primary: #F4F5FB;
    --background-secondary: #FFFFFF;

    /* Color */
    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #C93847;

    /* Content */
    --content-primary: #080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;
    --always-white: #FFFFFF;

    /* Border */
    --border-primary: #D1D5DB;
    --border-hover: #B9C2D0;

    /* Tipografia */
    --font-family: "Inter", sans-serif;


    /* font weight font-size/font-height font-family */
    --title: 700 1.5rem/2rem var(--font-family);
    --label: 600 1rem/1.25rem var(--font-family);
    --paragraph: 500 1rem/1.25rem var(--font-family);
    --link: 500 0.875rem/1rem var(--font-family);
}

body {
    background-color: var(--background-primary);
}

a {
    font: var(--link);
    text-decoration: none;
    color: var(--color-brand);
}

h1 {
    font: var(--title);
}

input {
    font: 400 1rem/140% var(--font-family);
    color: var(--content-tertiary);
    padding-inline: 1.125rem;
}

ul {
    list-style: none;
}

li {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font: var(--paragraph);
}

button {
    background-color: var(--color-brand);
    height: 2.75rem;
    border-radius: 0.75rem;
    font: var(--label);
    color: var(--always-white);
    border: none;
}

button:hover {
    background-color: var(--color-brand-hover);
    transition: ease-in 0.1s;
}

input {
    height: 2.75rem;
    border: 2px solid var(--border-primary);
    border-radius: 0.75rem;
    padding-inline: 1.25rem;
}

input:hover {
    border-color: var(--border-hover);
}

input:focus,
input:active {
    border-color: var(--color-brand);
    outline: none;
}

input[type="checkbox"] {
    appearance: none;
    width: 1rem;
    height: 1rem;
    padding: 0;
    border: 1px solid var(--border-primary);
    border-radius: 6px;
}

input[type="checkbox"]:hover {
    border-color: var(--border-hover);
}

input[type="checkbox"]:checked {
    border-color: var(--color-brand);
    background: url(../assets/tick-02-stroke-rounded.svg) center;
    background-color: var(--color-brand);
}