@import url('https://fonts.googleapis.com/css2?family=Alice&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --surface-color: #F0E8C2;
    --background-color: #573824;
    --text-color-primary: #291B1A;
    --text-color-secundary: #573A37;
    --text-color-on-bg: #F0E8C2;
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alice", serif;
    
}

body{
    display: grid;
    padding-block: 4.8rem;
    justify-items: center;
    gap: 2.8rem;
    background-color: var(--background-color);
    background-image: url(./assets/bg-image.png);
    background-size: cover;
}

h1{
    font-size: 4rem;
    font-weight: 400;
    line-height: 140%;
    color: var(--text-color-primary);
}

h2{
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 150%;
    color: var(--text-color-secundary);

}

p, li{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%;
    color: var(--text-color-secundary);
}

ul{
    list-style-position: inside;
}

.container{
    display: grid;
    gap: 2.4rem;
    padding: 2.4rem 2.4rem 4.8rem;
    border-radius: 2.4rem;
    width: 80rem;
    background: var(--text-color-on-bg);
}

.container > *:not(img){
    padding-inline: 2.4rem;
}

.container img {
    border-radius: 1.6rem;
}

footer>p{
    display: flex;
    align-items: center;
    gap: 0.6rem;
    font-weight: 400;
    color: var(--text-color-on-bg);
}