button {
    padding: 0.75rem 1.5rem;
    background: none;
    text-align: center;
    border-radius: 0.5rem;
    border: none;
    font-family: "Poppins", sans-serif;

}

.buttons {
    display: flex;
    gap: 1rem;
    justify-content: end;
}

.btn-primary {
    background: var(--brand-dark);
    color: var(--surface-primary);
}

.btn-primary:hover {
    background: var(--brand-mid);
}

.btn-secondary {
    color: var(--text-highlight);
    border: 1px solid var(--text-highlight);
}

.btn-secondary:hover {
    border: 1px solid var(--stroke-highlight);
    outline: 4px solid var(--surface-secondary);
}