.contato {
    width: 100vw;
    aspect-ratio: 16 / 9;
    background-image: url(../assets/imagens/Background_Contacts.png);
    background-size: cover;
}

.contato .title-md {
    margin-block: 0.5rem;
}

.contato .redes {
    display: grid;
    margin-top: 3rem;
    gap: 1rem;
    justify-content: center;
}

.contato .btn-redes {
    display: flex;
    width: 400px;
    padding: 1.25rem;
    align-items: center;
    gap: 0.75rem;
    border-radius: 0.5rem;
    border: none;
    background: var(--gray-300);
    cursor: pointer;
}


.contato .btn-redes>:last-child {
    margin-left: auto;
}


.contato .btn-redes a {
    text-decoration: none;
}