@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-color-light: #60A5FA;
    --brand-color-dark: #1D4ED8;

    --bg-color: #0F172A;
    --stroke-color: #1E293B;

    --text-color-primary: #F1F5F9;
    --text-color-secondary: #CBD5E1;

    font-family: "Archivo", sans-serif;
    color: var(--text-color-primary);
}

body {
    background: var(--bg-color);
}

.top-header {
    display: flex;
    justify-content: space-between;
}

.logo {
    color: var(--brand-color-light);
}

.btn-header {
    display: flex;
    align-items: center;
}

.links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
}

.principal {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 416px;
    gap: 1rem;
}

.principal> :first-child {
    grid-row: span 2;
}

.principal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}