* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 5;
}

.principal {
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 2;
}