header {
    padding: 20px 32px;
    grid-column: 1 / 4;

}

.top-header {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.logo {
    font-size: 1.5rem;
    color: var(--brand-color-light);
    text-transform: uppercase;
}

header .navegacao {
    padding: 14px 32px;
    border-block: 1px solid var(--stroke-color);
}

.links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
}

.navegacao a {
    font-size: 0.875rem;
    line-height: 145%;
    font-weight: 600;
    text-decoration: none;
    color: var(--text-color-secondary);
}